@import "tailwindcss";
@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --color-background: #191919;
  --color-card: #121212;
}

:root {
  background-color: #191919;
}
